@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

#chapter-29 > blockquote > ul > li {
	list-style: none;
	font-variant-caps: all-small-caps;
}